<!-- Main Content -->
<div class="container text-center">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
      <h1>{{ .Title }}</h1>
      <br>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 5px;">
        <li role="presentation" class="active"><a href="#concerts" aria-controls="concerts" role="tab" data-toggle="tab">Concerts</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
        <li role="presentation"><a href="#advent" aria-controls="advent" role="tab" data-toggle="tab">Adventný Koncert</a></li>
        <li role="presentation"><a href="#dolnakrupa2015" aria-controls="dolnakrupa" role="tab" data-toggle="tab">Dolná Krupá</a></li>
        <li role="presentation"><a href="#mix" aria-controls="mix" role="tab" data-toggle="tab">Mix</a></li>
      </ul>
      <!-- Tab content -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="concerts">
          {{ partial "gallery/subpages/concerts_imgs.html" . }}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="profile">
          {{ partial "gallery/subpages/profile_imgs.html" . }}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="advent">
          {{ partial "gallery/subpages/advent_imgs.html" . }}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="dolnakrupa2015">
          {{ partial "gallery/subpages/dolnakrupa2015_imgs.html" . }}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="mix">
          {{ partial "gallery/subpages/mix_imgs.html" . }}
        </div>
      </div>
    </div>
  </div>
</div>
