<div class="table-responsive">
  <table class="table table-striped" style="text-align: left;">
    <thead>
      <tr>
        {{ $url := "http://docs.google.com/feeds/download/spreadsheets/Export?key=1RYmRkajJCTb9UvgYOgX4ECDILuzYzh0c03a4SkCtwnw&exportFormat=csv&gid=0" }}
        {{ $separator := "," }}
        {{ $csvfile := getCSV $separator $url }}
        {{ $header := index $csvfile 0 }}
        <th>{{ index $header 0 }}</th>
        <th>{{ index $header 1 }}</th>
        <th>{{ index $header 2 }}</th>
        <th>{{ index $header 3 }}</th>
      </tr>
    </thead>

    <tbody>
      {{ range $i, $r := after 1 $csvfile }}
        <tr>
          <td>{{ index $r 0 }}</td>
          <td>{{ index $r 1 }}</td>
          <td>{{ index $r 2 }}</td>
          <td>{{ index $r 3 }}</td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>
