<div class="table-responsive">
  <table class="table table-striped" style="text-align: left;">
    <thead>
      <tr>
        {{ $url := "http://docs.google.com/feeds/download/spreadsheets/Export" }}
        {{ $queryParams := "?key=1rM8xjrqoBh-ZTVUnn50NR0HjL2K2W2IlQISp3ITRpO4&exportFormat=csv&gid=0" }}
        {{ $separator := "," }}
        {{ $csvfile := getCSV $separator $url $queryParams }}

        {{ $header := index $csvfile 0 }}

        {{ $date := index $header 0 }}
        {{ $description := index $header 2 }}
        {{ $place := index $header 3 }}
        <th>{{ $date }}</th>
        <th>{{ $description }}</th>
        <th>{{ $place }}</th>
      </tr>
    </thead>

    <tbody>
      {{ $reverseOrder := seq (sub (len $csvfile) 1) 1 }}
      {{ range $i := $reverseOrder }}
        {{ $r := index $csvfile $i }}
        <tr>
          <td  style="text-align: right;">{{ index $r 0 }}</td>
          {{ $type := index $r 1 }}
          <td><span class="label {{ if eq (lower $type) "predstavenie" }}label-primary{{ else }}label-success{{ end }}">{{ index $r 1 }}</span> {{ index $r 2 }}</td>
          <td>{{ index $r 3 }}</td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>
