<!-- Footer -->
<footer>
  <div class="container text-center" style="background-color: rgba(248, 248, 248, 0);">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline">
          {{ if isset .Site.Params "username_facebook" }}
          <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u=marekpobuda.com" target="_blank" title="Share on Facebook">
              <span class="fa-stack fa-2x" style="color: #3b5998">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{ end }}
          {{ if isset .Site.Params "username_twitter" }}
          <li>
            <a href="https://twitter.com/{{ .Site.Params.username_twitter }}" target="_blank" title="Twitter">
              <span class="fa-stack fa-2x" style="color: #55acee">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{ end }}
          {{ if isset .Site.Params "username_instagram" }}
          <li>
              <a href="https://instagram.com/{{ .Site.Params.username_instagram }}" target="_blank" title="Instagram">
                  <span class="fa-stack fa-2x" style="color: #517fa4">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
              </a>
          </li>
          {{ end }}
          {{ if isset .Site.Params "channel_youtube" }}
          <li>
              <a href="https://youtube.com/channel/{{ .Site.Params.channel_youtube }}/videos" target="_blank" title="YouTube Channel">
                  <span class="fa-stack fa-2x" style="color: #cd201f">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
                  </span>
              </a>
          </li>
          {{ end }}
          {{ if isset .Site.Params "email" }}
          <li>
              <a href="mailto:{{ .Site.Params.email }}" target="_blank" title="Email">
                  <span class="fa-stack fa-2x" style="color: grey">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                  </span>
              </a>
          </li>
          {{ end }}
        </ul>
        <p class="copyright text-muted">&copy;&nbsp;{{ .Site.Title }}&nbsp;2015</p>
      </div>
    </div>
  </div>
</footer>
