<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-6">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/advent/MEXA9945.jpg" alt="Marek Pobuda" >
        <div class="caption">
          <b>Adventný koncert Posolstvo Vianoc</b> - Senica (10.12.2015) © foto Radovan Samek
  			</div>
	  	</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-6">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/advent/MEXA9922.jpg" alt="Marek Pobuda" >
        <div class="caption">
          <b>Adventný koncert Posolstvo Vianoc</b> - Senica (10.12.2015) © foto Radovan Samek
  			</div>
	  	</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/advent/MEXA9943.jpg" alt="Marek Pobuda" >
        <div class="caption">
  				<b>Adventný koncert Posolstvo Vianoc</b> - Senica (10.12.2015) © foto Radovan Samek
  			</div>
	  	</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/advent/MEXA9986.jpg" alt="Marek Pobuda" >
        <div class="caption">
  				<b>Adventný koncert Posolstvo Vianoc</b> - Senica (10.12.2015) © foto Radovan Samek
  			</div>
	  	</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/advent/MEXA9987.jpg" alt="Marek Pobuda" >
        <div class="caption">
  				<b>Adventný koncert Posolstvo Vianoc</b> - Senica (10.12.2015) © foto Radovan Samek
  			</div>
	  	</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/advent/MEXA9992.jpg" alt="Marek Pobuda" >
        <div class="caption">
  				<b>Adventný koncert Posolstvo Vianoc</b> - Senica (10.12.2015) © foto Radovan Samek
  			</div>
	  	</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-6">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/advent/MEXA9996.jpg" alt="Marek Pobuda" >
        <div class="caption">
          <b>Adventný koncert Posolstvo Vianoc</b> - Senica (10.12.2015) © foto Radovan Samek
  			</div>
	  	</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-6">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/advent/MEXA9997.jpg" alt="Marek Pobuda" >
        <div class="caption">
          <b>Adventný koncert Posolstvo Vianoc</b> - Senica (10.12.2015) © foto Radovan Samek
  			</div>
	  	</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/advent/MEXB0015.jpg" alt="Marek Pobuda" >
        <div class="caption">
  				<b>Adventný koncert Posolstvo Vianoc</b> - Senica (10.12.2015) © foto Radovan Samek
  			</div>
	  	</div>
	</div>
</div>
