<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/viva_musica_2015/3.jpg" alt="Marek Pobuda" >
        <div class="caption">
  				<b>Kráľ Teodor v Benátkach</b> - Viva Musica! festival 2015, Bratislava (28.6.2015) © foto Zdenko Hanout
  			</div>
	  	</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/viva_musica_2015/2.jpg" alt="Marek Pobuda" >
        <div class="caption">
  				<b>Kráľ Teodor v Benátkach</b> - Viva Musica! festival 2015, Bratislava (28.6.2015) © foto Zdenko Hanout
  			</div>
	  	</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/viva_musica_2015/1.jpg" alt="Marek Pobuda" >
        <div class="caption">
  				<b>Kráľ Teodor v Benátkach</b> - Viva Musica! festival 2015, Bratislava (28.6.2015) © foto Zdenko Hanout
  			</div>
	  	</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-6">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/kocur/1_28622.jpg" alt="Marek Pobuda" >
        <div class="caption">
  				<b>Kocúr v Čižmách</b> - Štátna opera Banská Bystrica
  			</div>
	  	</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-6">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/kocur/2_42358.jpg" alt="Marek Pobuda" >
        <div class="caption">
  				<b>Kocúr v Čižmách</b> - Štátna opera Banská Bystrica
  			</div>
	  	</div>
	</div>
</div>
