<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-6">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/imatriku_ples/DSC_0463.jpg" alt="Marek Pobuda" >
				<div class="caption"><b>Ples Nitrianskych Univerzít</b> - Koncertné Vystúpenie</div>
	  	</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-6">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/imatriku_ples/DSC_0469.jpg" alt="Marek Pobuda" >
				<div class="caption"><b>Ples Nitrianskych Univerzít</b> - Koncertné Vystúpenie</div>
	  	</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-6">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/imatriku_ples/DSC_0458.jpg" alt="Marek Pobuda" >
				<div class="caption"><b>Ples Nitrianskych Univerzít</b> - Koncertné Vystúpenie</div>
	  	</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-6">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/imatriku_ples/DSC_0460.jpg" alt="Marek Pobuda" >
				<div class="caption"><b>Ples Nitrianskych Univerzít</b> - Koncertné Vystúpenie</div>
	  	</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-6">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/imatriku_ples/DSC_0456.jpg" alt="Marek Pobuda" >
				<div class="caption"><b>Ples Nitrianskych Univerzít</b> - Koncertné Vystúpenie</div>
	  	</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-6">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/imatriku_ples/DSC_0464.jpg" alt="Marek Pobuda" >
				<div class="caption"><b>Ples Nitrianskych Univerzít</b> - Koncertné Vystúpenie</div>
	  	</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-6">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/imatriku_ples/DSC_0465.jpg" alt="Marek Pobuda" >
				<div class="caption"><b>Ples Nitrianskych Univerzít</b> - Koncertné Vystúpenie</div>
	  	</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-6">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/imatriku_ples/DSC_0471.jpg" alt="Marek Pobuda" >
				<div class="caption"><b>Ples Nitrianskych Univerzít</b> - Koncertné Vystúpenie</div>
	  	</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-6">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/imatriku_ples/DSC_0479.jpg" alt="Marek Pobuda" >
				<div class="caption"><b>Ples Nitrianskych Univerzít</b> - Koncertné Vystúpenie</div>
	  	</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-6">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/imatriku_ples/DSC_0480.jpg" alt="Marek Pobuda" >
				<div class="caption"><b>Ples Nitrianskych Univerzít</b> - Koncertné Vystúpenie</div>
	  	</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/NUD_2012_Gaudeamus/DSC_0064_small.jpg" alt="Marek Pobuda" >
        <div class="caption">
  				<b>Nitrianske univerzitné dni 2012</b> - Galavečer Gaudeamus
  			</div>
	  	</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-6">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/Opera_Figaro_Rusovce_5_5_2014/P1010388.jpg" alt="Marek Pobuda" >
				<div class="caption">
  				<b>Absolventské Predstavenie VŠMU (5.5.2014)</b> - Figarova Svadba (W. A. Mozart)
  			</div>
	  	</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-6">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/Opera_Figaro_Rusovce_5_5_2014/P1010395.jpg" alt="Marek Pobuda" >
				<div class="caption">
					<b>Absolventské Predstavenie VŠMU (5.5.2014)</b> - Figarova Svadba (W. A. Mozart)
  			</div>
	  	</div>
	</div>
</div>
