<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-6">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/profile_foto_2015/DSC_4067.jpg" alt="Marek Pobuda" >
	  	</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-6">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/profile_foto_2015/DSC_4081.jpg" alt="Marek Pobuda" >
	  	</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-6">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/profile_foto_2015/DSC_4047.jpg" alt="Marek Pobuda" >
	  	</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-6">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/profile_foto_2015/DSC_4039.jpg" alt="Marek Pobuda" >
	  	</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-6">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/profile_foto_2015/DSC_4308.jpg" alt="Marek Pobuda" >
	  	</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-6">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/profile_foto_2015/DSC_4195cb.jpg" alt="Marek Pobuda" >
	  	</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
	  	<div class="thumbnail">
	    	<img class="img-responsive" src="/images/profile_foto_2015/DSC_4371.jpg" alt="Marek Pobuda" >
	  	</div>
	</div>
</div>
